.logoutPage {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoutPage p {
    font-size: 20px;
    margin-bottom: 30px;
}

.logoutPage button {
    padding: 12px 20px;
    background-color: rgb(144, 57, 224);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.logoutPage button:hover {
    background-color: rgb(126, 49, 196);
    transform: translateY(2px);
} 