nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(144, 57, 224);
    padding: 0 20px;
}

.nav-left h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

.nav-right {
    display: flex;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: black;
}

nav a svg {
    margin-right: 5px;
}